body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}
label{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-right: 5%;
}
button{
    font-size: 24px;
    margin-left: 45%;
}
img{
    margin-top: 1%;
}
input{
    margin-right: 5%;
}